*{
    font-size: 24pt;
}

body{
    width: 100%;
    height: 100%;
}

div#content{
    background-color: #6699ff;
    position: absolute;
    width: 500px;
    top: 100px;
    left: 50%;
    margin-left: -250px;
    text-align: center;
}

div#content h2{
    text-align: center;
    color: gold;
}

div#content *{
    margin: 10px;
}

.hide{ display: none; }

div#message{
    display: inline-block;
}

.error, .success{
    font-size: larger;
}

.info{

}

.warning{
    color: yellow;
}

.error{
    color: orangered;
}

.success{
    color: greenyellow;
}